application/cache/
application/config/
application/i18n/
application/logs/
application/messages/
application/bootstrap.php

modules/
system/
media/img/
media/img-src/
media/lib/

*.md
*.json
*.html
.DS_Store
nbproject/

node_modules/
doc/
