@charset "utf-8";

/* variable ++++ */
$text-color: #555;
.clearfix {
	&:after {
		content: '';
		display:table;
		clear:both;
	}
}
.rl {
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
}
.rl-clear {
	-webkit-writing-mode: horizontal-tb;
	-ms-writing-mode: lr-tb;
	writing-mode: horizontal-tb;
}

/* common ++++ */
div {
	box-sizing: border-box;
}
a, a:hover, a:active, a:visited {
	text-decoration: none;
	color: $text-color;
}
img {
	max-width: 100%;
	height: auto;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

/* content ++++ */
html, body {
	width: 100%;
	height: 100%;
}
.load {
	width: 100%;
	height: 100%;
	background: rgb(175, 192, 197);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}
.spinner {
  color: #ffffff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
body#ge {
	font-family: "F+UD-筑紫明朝 R", "ヒラギノ明朝 ProN W3", "HiraMinProN-W3", "游明朝体", "Yu Mincho", YuMincho, serif;
	color: $text-color;
	width: 10000px;
	overflow-y: hidden;
	min-height: 568px;
}
.copyright {
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: #fff;
	font-size: 10px;
}

.ge-wrapper {
	@extend .clearfix;
	display: inline-block;
}
.ge-page-box {
	padding: 50px;
	width: 1500px;
	height: 100vh;
	position: relative;
	float: right;
	@extend .clearfix;
	.text-link:hover {
		color: #000;
	}
	&.block3 {
		background: #fafafa;
	}
	&.block1, &.block3, &.block5 {
		width: 100vw;
	}
	&.block2 {
		background: rgba(255,255,255,0.8);
		width: 1040px;
		padding: 50px 100px;
	}
	&.block4 {
		background: rgba(255,255,255,0.8);
		width: 850px;
	}
	&.detail{
		padding: 0;
		width: 100vw!important;
	}
}
@media screen and (max-width: 480px) {
	.ge-page-box {
		&.block2 {
			width: 940px;
		}
		&.block5 {
			padding: 50px 30px;
		}
		&.detail {
			.vegas-slide {
				height: 66.65vw;
				margin-top: calc( 50vh - 33.325vw );
				margin-bottom: calc( 50vh - 33.325vw );
			}
			.ge-caption-box {
				height: 46vw;
				margin-top: 5px;
				span {
					padding: 0 1px;
				}
			}
		}
	}
}
.wit .ge-page-box {
	width: 960px;
}
.kalm .ge-page-box {
	width: 950px;
}
.canyon .ge-page-box {
	width: 950px;
}
.flow .ge-page-box {
	width: 1020px;
}
.ge-vertical-rl-box {
	width: 100%;
	@extend .rl;
	p {
		line-height: 2;
		letter-spacing: 0.1em;
	}
	&.top {
		height: 20.1em;
		h2+p {
			margin-right: 50px;
		}
	}
}

/* ---- Typo */
.ge-top-title {
	text-align: center;
}
.ge-top-catch-box {
	@extend .rl;
	position: absolute;
	top: 180px;
	right: 50%;
	p {
		margin-right: -12px;
		font-size: 13px;
		span {
			background: #fff;
			padding: 3px;
		}
	}
}
.ge-top-content-title {
	font-size: 16px;
	.type-alpha {
		font-size: 28px;
		margin-bottom: 1em;
		vertical-align: middle;
	}
}

/* to detail ++++ */
.ge-top-link-box {
	margin: -50px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row-reverse;
	flex-direction: row-reverse;
	a {
		cursor: pointer;
		position: relative;
		display: block;
		width: 25%;
		height: 100vh;
		text-align: center;
		&:nth-child(odd) {
			background: #fff;
		}
		.span-alpha {
			@extend .rl;
			position: absolute;
			top: 5px;
			left: 0;
			font-size: 100px;
			line-height: 1;
			color: #eee;
		}
		.span-kanji {
			position: absolute;
			bottom: 30px;
			right: 10px;
			font-size: 40px;
			line-height: 1;
			color: #eee;
		}
		.span-catch {
			@extend .rl;
			opacity: 0;
			transition: 0.3s opacity;
			text-align: center;
			margin-top: 40%;
			background: #fff;
			padding: 3px 1px;
		}
	}
	a:hover {
		width: 50%;
		.span-catch {
			opacity: 1;
		}
	}
	a {
		transition: 0.3s width;
	}
}
@media screen and (max-width: 480px) {
	.ge-top-link-box {
		a {
			.span-alpha {
				font-size: 50px;
			}
		}
	}
}

/* top photo box ++++ */
.ge-top-photo-box {
	height: 130px;
	position: absolute;
	bottom: 50px;
	left: 20%;
	img {
		height: 100%;
		width: auto;
		margin-left: 10px;
	}
}
@media screen and (max-height: 500px) {
	.ge-top-photo-box {
		display: none;
	}
}


.ge-detail-photo-box {
	height: 100%;
	margin-right: 100px;
	&.wit {}
	img {
		display: inline-block;
		height: 18%;
		width: auto;
	}
	.caption {
		@extend .rl-clear;
		font-size: 12px;
		margin-bottom: 5px;
	}
}

/* pager ++++ */
.ge-detail-pager-box {
	float: right;
	height: 100vh;
	width: 25vh;
	background: rgba(0,0,0,0.5);
	ul {
		list-style: none;
		height: 100%;
		margin: 0;
		padding: 0;
	}
	li {
		box-sizing: border-box;
		text-align: center;
		&.to-top {
			height: 10%;
			a {
				padding: 15px 10px 0;
			}
		}
		&.to-detail {
			height: 22.5%;
			background-size: cover;
			a {
				padding: 20px;
			}
		}
		&.wit {
			background-image: url(../img/gezicht/hiraide_2.jpg);
		}
		&.kalm {
			background-image: url(../img/gezicht/shinsui_1.jpg);
		}
		&.canyon {
			background-image: url(../img/gezicht/shimokubo_4.jpg);
		}
		&.flow {
			background-image: url(../img/gezicht/naramata_4.jpg);
		}
	}
	li:not(:last-child) {
		border-bottom: 1px dotted #fff;
	}
	.type-alpha {
		color: rgba(255,255,255,0.5);
		font-size: 25px;
		font-weight: bold;
	}
	a {
		color: #fff;
		display: block;
		transition: all 0.1s;
		height:100%;
		box-sizing: border-box;
		background: rgba(0,0,0,0.5);
		.type-kanji {
			display: block;
			opacity: 0;
			margin-top: 5px;
			transition: all 0.3s;
		}
		&:hover {
			background: rgba(0,0,0,0.3);
			.type-kanji {
				opacity: 1;
				margin-top: 0;
			}
		}
	}
}

/* detail caption ++++ */
.ge-spec-box {
	position: absolute;
	bottom: 30px;
	left: 20px;
	font-size: 12px;
	line-height: 1.4;
	background: rgba(255,255,255,0.8);
	padding: 3px;
	.title {
		font-size: 14px;
	}
}
.ge-caption-box {
	@extend .rl;
	font-size: 12px;
	letter-spacing: 0.1em;
	position: absolute;
	top: 5px;
	right: 5px;
	height: 80%;
	span {
		background: #fff;
		padding: 3px 1px;
	}
}

/* top share box ++++ */
.ge-top-share-box {
	max-width: 480px;
	margin: 30px auto;
	text-align: center;
	h3 {
		margin: 20px 0 10px;
		font-size: 30px;
	}
	ul {
		list-style: none;
		margin: 10px 0 20px;
		padding: 0;
	}
	.inner {
		background: rgba(255,255,255,0.8);
		padding: 10px;
		margin-bottom: 20px;
	}
	.link-to-top {
		position: relative;
		display: block;
		padding: 10px 0;
		background: #000;
		color: #fff;
		transition: all 0.1s;
		&:after {
			position: absolute;
			right: 20px;
			top: 50%;
			margin-top: -5px;
			content: '';
			box-sizing: border-box;
			width: 10px;
			height: 10px;
			border-right: 1px solid #fff;
			border-bottom: 1px solid #fff;
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
			transition: all 0.1s;
		}
		&:hover {
			background: #0066cc;
			&:after {
				right: 10px;
			}
		}
	}
}