@charset "utf-8";
/* variable ++++ */
$text-color: #555;
.clearfix {
	&:after {
		content: '';
		display:table;
		clear:both;
	}
}
.rl {
	-webkit-writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	writing-mode: vertical-rl;
}
.rl-clear {
	-webkit-writing-mode: horizontal-tb;
	-ms-writing-mode: lr-tb;
	writing-mode: horizontal-tb;
}

/* common ++++ */
div {
	box-sizing: border-box;
}
a, a:hover, a:active, a:visited {
	text-decoration: none;
	color: $text-color;
}
img {
	max-width: 100%;
	height: auto;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

/* content ++++ */
body#ge {
	font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W3";
	color: $text-color;
	width: 10000px;
	overflow-y: hidden;
}

.ge-wrapper {
	@extend .clearfix;
	display: inline-block;
}
.ge-page-box {
	padding: 50px;
	width: 1500px;
	height: 100vh;
	position: relative;
	float: right;
	&.block3 {
		background: #fafafa;
	}
	&.block4 {
		background: #efefef;
	}
	&.block1, &.block3 {
		width: 100vw;
	}
	&.block2 {
		background: rgba(255,255,255,0.8);
		width: 1040px;
		padding: 50px 100px;
	}
	&.detail{
		padding: 0;
		width: 100vw;
	}
}
.wit .ge-page-box {
	width: 960px;
}
.kalm .ge-page-box {
	width: 950px;
}
.canyon .ge-page-box {
	width: 950px;
}
.flow .ge-page-box {
	width: 950px;
}
.ge-vertical-rl-box {
	width: 100%;
	@extend .rl;
	p {
		line-height: 2;
		letter-spacing: 0.1em;
	}
	&.top {
		height: 20.1em;
		h2+p {
			margin-right: 50px;
		}
	}
}

.ge-top-title {
	text-align: center;
}

.ge-top-link-box {
	margin: -50px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row-reverse;
	flex-direction: row-reverse;
	a {
		cursor: pointer;
		position: relative;
		display: block;
		width: 25%;
		height: 100vh;
		text-align: center;
		&:nth-child(odd) {
			background: #fff;
		}
		.span-alpha {
			@extend .rl;
			position: absolute;
			top: 5px;
			left: 0;
			font-size: 100px;
			line-height: 1;
			color: #eee;
		}
		.span-kanji {
			position: absolute;
			bottom: 10px;
			right: 10px;
			font-size: 40px;
			line-height: 1;
			color: #eee;
		}
		.span-catch {
			@extend .rl;
			opacity: 0;
			transition: 0.3s opacity;
			text-align: center;
			margin-top: 40%;
			background: #fff;
			padding: 3px 1px;
		}
	}
	a:hover {
		width: 50%;
		.span-catch {
			opacity: 1;
		}
	}
	a {
		transition: 0.3s width;
	}
}

.ge-top-photo-box {
	height: 130px;
	float: right;
	margin-top: 80px;
	img {
		height: 100%;
		width: auto;
		margin-left: 10px;
	}
}
.ge-detail-photo-box {
	height: 100%;
	margin-right: 100px;
	&.wit {}
	img {
		display: inline-block;
		height: 18%;
		width: auto;
	}
	.caption {
		@extend .rl-clear;
		font-size: 12px;
		margin-bottom: 5px;
	}
}

/* pager ++++ */
.ge-detail-pager-box {
	float: right;
	height: 100vh;
	width: 25vh;
	background: rgba(0,0,0,0.5);
	ul {
		list-style: none;
		height: 100%;
		margin: 0;
		padding: 0;
	}
	li {
		box-sizing: border-box;
		height: 20%;
		text-align: center;
	}
	li:not(:last-child) {
		border-bottom: 1px dotted #fff;
	}
	.type-alpha {
		color: rgba(255,255,255,0.5);
		font-size: 25px;
		font-weight: bold;
	}
	a {
		color: #fff;
		display: block;
		padding: 20px;
		transition: all 0.1s;
		height:100%;
		box-sizing: border-box;
		.type-kanji {
			display: block;
			opacity: 0;
			margin-top: 5px;
			transition: all 0.3s;
		}
		&:hover {
			background: rgba(0,0,0,0.2);
			.type-kanji {
				opacity: 1;
				margin-top: 0;
			}
		}
	}
}

/* detail caption ++++ */
.ge-spec-box {
	position: absolute;
	bottom: 30px;
	left: 20px;
	font-size: 12px;
	line-height: 1.4;
	background: rgba(255,255,255,0.8);
	padding: 3px;
	.title {
		font-size: 14px;
	}
}
.ge-caption-box {
	@extend .rl;
	font-size: 12px;
	letter-spacing: 0.1em;
	position: absolute;
	top: 5px;
	right: 5px;
	height: 80%;
	span {
		background: #fff;
		padding: 3px 1px;
	}
}
